@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
}

img {
  display: block;
}

a {
  color: inherit;
  cursor: pointer;
}

li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

.main {
  background: var(--bg-color);
}

a.btn-filled {
  padding: 16px 24px;
  background: var(--accent);
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  border-radius: 8px;
  transition: all 0.2s ease-in;
  &:hover {
    opacity: .9;
  }
}

